body{
background: radial-gradient(closest-side, #7327FB, #1E0E3B);
height: 100vh; 
margin: 0; 
background-repeat: no-repeat;
background-size: cover;
  padding: 0;

}

link{
  text-decoration: none;
}
.contactbutton{
  font-size: 25px;
  margin: 8px;
}
.home-container{
  background: linear-gradient( #8A5CBF, #674095);
    border-radius: 100px;
    text-align: center;
filter: drop-shadow(5px 5px 5px );
font-family: 'Risque';
margin: 0px;
margin-left: auto; margin-right: auto;
width: 30cm;
height: 12cm;
position: absolute;
top: 20%;
left: 13%;


}
.nav-links{
  position: absolute;
  bottom: 85%;
  left: 60%;
    text-decoration: none;

}
.nav-link.active {
  text-decoration: none;
}
.home-container h1 {
    color: white;
text-decoration: underline;
font-size: 60px;
margin: auto;
}

.hometoptext{
        color: white;
        margin: 5px;
        font-size: 30px;

}
.hometext{
        color: white;
        font-size: 17.5px;
        margin-top: 10px;
        margin-bottom: 15px;


}
nav{
top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;  
  align-items: center;
  padding: 0.5rem 1rem; 
  background: inherit; 
  margin: 0;
  padding: 0;
    text-decoration: none;

  
  

}
nav h1{
  background: linear-gradient(#FFFFFF, #B1A3D7); 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  font-size: 75px;
  position: absolute;
  left: 5.5%;
  bottom: 82.5%; 
    text-decoration: none;
 
}
button{
background-color: #31094A;
border-radius: 120px;
border: solid;
border-color: #31094A;
font-family: 'Pacifico';
  margin: 5px 0;
  padding: 10;
  width: 175px;
}
button p {
    color: white;
    font-size: 20px;
      text-decoration: none;

    
}
.NavBar ul{
  margin: 0;
  padding: 0;
  list-style: none;
  font: 1.2em sans-serif;

  display: flex;
  align-items: center;
    text-decoration: none;


    
}
.NavBar p{
        color: white;
            font-family: 'Pacifico';
padding: 0.5rem 1em;
display: block;
font-size: 27.5px;
  text-decoration: none;
}
.NavBar h1{
font-family: 'Pacifico';
  margin: 0; 
    text-decoration: none;


}
.homephoto{
    border-radius: 150px;
    height: 150px;
    margin-top: 20px;
}
    /* .aboutpage{
      display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 80px;
    } */
    /* .about-containers{
      position: relative;
      width: 300px;
      height: 400px;
    } */

.AboutTitle{
  color: white;
font-size: 60px;
font-family: 'Pacifico';
margin-top: 20px;
position: absolute;
right: 30.5%;
top: 12.5%;


}
.About-container1{
  background: linear-gradient( #8A5CBF, #674095);
    border-radius: 50px;
filter: drop-shadow(5px 5px 5px );
font-family: 'Risque';
width: 10.5cm;
height: 13.5cm;
position: absolute;
top: 14%;
left: 23%;
text-align: center;
}
.About-container1 h3{
  font-family: 'Risque';
  color: white;

}
.About-container1 p{
    font-family: 'Risque';
  color: white;
  text-align:start;
  padding-left: 40px;

}
.aboutphoto{
    border-radius: 150px;
    height: 100px;
    margin-top: 20px;
    
    
}
.about-container2 {
  background: linear-gradient( #8A5CBF, #674095);
    border-radius: 50px;
filter: drop-shadow(5px 5px 5px );
font-family: 'Risque';
  position: absolute;
  bottom: 2.5%;
  right: 22.5%;
  height: 10.5cm;
  width: 12.5cm;
  text-align: center;
  align-items: center;
}
.about-container2 h3{
  font-family: 'Risque';
  color: white;

}
.about-container2 p{
    font-family: 'Risque';
  color: white;
  
}
.contactlist{
      text-align:start;
      font-size: 22px;
      margin-top: 50px;

}
.container1-title{
  text-align: center;
  font-size: 37px;
  margin: auto;
}
.container1-text{
font-size: 21px;
}
.skilltitle{
  font-size: 37px;
  
}
.skilltext{
  color: white;
  font-family: 'Risque';
  font-size: 20px;
  position: absolute;
  top: 51%;
  left: 51.5%;
}
.skillimage{
  height: 100px;
}
.form-container{
  align-items: center;
  text-align: center;
  font-family: 'Pacifico';
  bottom: 15%;
  left: 38%;
  position: absolute;
  color: white;
}

.form-title{
  font-size: 50px;
  margin-bottom: 0px;
}
.form-title2{
  margin-top: 1px;
  font-size: 25px;
  }
.form-email{
background-color: #CB89F2;
  font-family: 'Pacifico';
    color: white;
    border-radius: 18px;
    border: 0cm;
    margin-bottom: 3%;
    width: 300px;
    height: 50px;
    font-size: 20px;
    text-align: justify;
    padding-left: 20px;
}
.form-email::placeholder {
  color: white; 
  opacity: 1; 
}

.form-subject{
  background-color: #CB89F2;
  font-family: 'Pacifico';
  color: white;
  border-radius: 18px;
    border: 0cm;
        margin-bottom: 5%;
        width: 300px;
    height: 50px;
    font-size: 20px;
    text-align: justify;
    padding-left: 20px;

}
.form-subject::placeholder {
  color: white; 
  opacity: 1; 
}
.form-message {
  background-color: #CB89F2;
  font-family: 'Pacifico';
    color: white;
    border-radius: 18px;
    border: 0cm;
    width: 300px;
    height: 150px;
    font-size: 20px;
    padding-left: 20px;
    
}

.form-message::placeholder {
  color: white; 
  opacity: 1; 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 15px;
}
.form-button {
  background-color: #CB89F2;
  font-family: 'Pacifico';
    color: white;
    border-radius: 12px;
    border: 0cm;
    width: 4cm;
    height: 35px;
    margin-top: 15px;
    font-size: 15px;
}
.form-button::placeholder {
  color: white; 
  opacity: 1; 
}
hr{
  height: 2px;
background-color: white;}
.skill-list{
  display: flex;
  gap: 50px;
    font-family: 'Risque';
    color: white;
    position: absolute;
    top: 66%;
    right: 28%;


}
.skill-list2{
  display: flex;
  gap: 50px;
  font-family: 'Risque';
    color: white;
        position: absolute;
    top: 82%;

        right: 28%;

}
.skills img{
  display: flex;
  height: 70px;
  
}

.projectsbody{
    background: linear-gradient( #8A5CBF, #674095);
  align-items: center;
  text-align: center;
  width: 9cm;
    height: 12cm;
    gap: 20px;
        border-radius: 100px;
filter: drop-shadow(10px 10px 10px );
}
.projectbody{
  padding-left: 5cm;
display: flex;
gap: 50px;
}
.project-title{
  font-family: 'Pacifico';
    color: white;
  margin-top: 80px;
  text-align: center;
  font-size: 50px
  
}
.Projectfoto
{
  margin-top: 50px;
  height: 130px;
}
.project-names
{
    font-family: 'Risque';
    color: white;
font-size: 30px;
}
.projectbutton{
  color: white;
  margin-top: 50px;
  height: 60px;
font-size: 20px;
}
.detailtitle{
    font-family: 'Pacifico';
    color: white;
  margin-top: 80px;
  text-align: center;
  font-size: 50px
}
.detailphoto{
height: 250px;
}
.detailphoto2{
  height: 250px;
}
.detailtext{
    background: linear-gradient( #8A5CBF, #674095);
 
            border-radius: 100px;
            font-family: 'Risque';
    color: white;
font-size: 30px;
text-align: center;
width: 950px;


}
.detailtext2{
    background: linear-gradient( #8A5CBF, #674095);
  text-align: center;
  
            border-radius: 100px;
            font-family: 'Risque';
    color: white;
font-size: 30px;
width: 950px;

}
.detailtext1 p{
  margin-top: 50cm;
}
.detailtext2 p{
  margin-top: 50cm;
}
.detailpage{
  margin-top: -3%;
  display: flex;
}
.detailbutton{
  align-items: center;
  color: white;
text-align: center;
  font-size: 30px;
  width: 290px;
  margin-left: 50px;
    margin-right: 50px;

}
.detailphoto{
  display: flex;
flex-direction: column;
width: 450px;
gap: 50px;
align-items: right;}
